.page-content {
    padding: 25px 25px 19px;
}

@media only screen and (max-width: 1025px) {
    .page-content {
        padding: 20px 10px 19px;
    }
}

@media only screen and (max-width: 767px) {
    .page-content {
        padding-bottom: 35px;
    }
}

.episode-group {
    position: relative;
}

.episode-group-name {
    border-bottom: 1px solid #0083da;
    margin-bottom: 15px;
}

.episode-group-name span {
    display: inline-block;
    background-color: #0083da;
    color: #fff;
    font-weight: 700;
    line-height: 23px;
    padding: 0 17px;
    font-size: 18px;
    height: 24px;
    margin-bottom: -1px;
    white-space: nowrap;
}